In [71]:
import pandas as pd
from datetime import date

In [3]:
df = pd.read_csv("MLTollsStackOverflow.csv")

In [4]:
df.head(3)

,month,nltk,spacy,stanford-nlp,python,r,numpy,scipy,matlab,machine-learning,...,Plato,Sympy,Flair,stanford-nlp.1,pyqt,Nolearn,Lasagne,OCR,Apache-spark-mlib,azure-virtual-machine
0,09-Jan,0,0,0,631,8,6,2,19,8,...,0,1,0,0,5,0,0,5,0,0
1,09-Feb,1,0,0,633,9,7,3,27,4,...,0,0,0,0,5,0,0,11,0,0
2,09-Mar,0,0,0,766,4,4,2,24,3,...,0,0,0,0,7,0,0,2,0,0

In [20]:
df.columns

Index(['month', 'nltk', 'spacy', 'stanford-nlp', 'python', 'r', 'numpy',
       'scipy', 'matlab', 'machine-learning', 'pandas', 'pytorch', 'keras',
       'nlp', 'apache-spark', 'hadoop', 'pyspark', 'python-3.x', 'tensorflow',
       'deep-learning', 'neural-network', 'lstm', 'time-series', 'pillow',
       'rasa', 'opencv', 'pipenv', 'seaborn', 'Dask', 'jupyter', 'AllenNLP',
       'Theano', 'plotly', 'scikit-learn', 'BeautifulSoup', 'scrapy', 'Gensim',
       'FastText', 'Pydot', 'Pybrain', 'Pytil', 'Pygame', 'Colab', 'Shogun',
       'KNIME', 'Apache', 'Gunicorn', 'Pygtk', 'Weka', 'Conda', 'Ray',
       'matlab.1', 'accord.net', 'regression', 'classification', 'correlation',
       'cluster-analysis', 'H2o', 'Mallet', 'Numba', 'Tableau', 'Trifacta',
       'PyArrow', 'Rasterio', 'Orange3', 'PyMC3', 'Opennn', 'Oryx', 'Istio',
       'Venes', 'Plotnine', 'Gluon', 'Plato', 'Sympy', 'Flair',
       'stanford-nlp.1', 'pyqt', 'Nolearn', 'Lasagne', 'OCR',
       'Apache-spark-mlib', 'azure-virtual-machine'],
      dtype='object')

In [ ]:
#Python, matlab, r, hadoop

In [58]:
df2 = df[['month','python','hadoop','r', 'matlab']]

In [59]:
df2.isna().any()

month     False
python    False
hadoop    False
r         False
matlab    False
dtype: bool

In [60]:
df2.head(2)

    month  python  hadoop  r  matlab
0  09-Jan     631       1  8      19
1  09-Feb     633       1  9      27

In [100]:
old_date = "19-Jan"

In [101]:
old_date = old_date.split("-")

In [102]:
old_date

['19', 'Jan']

In [103]:
old_day = int(old_date[0])
old_day

19

In [104]:
month_dict = {"Jan": 1, "Feb": 2, "Mar": 3, "Apr": 4, "May": 5, "Jun": 6, "Jul": 7, "Aug": 8, "Sep": 9, "Oct": 10, "Nov": 11, "Dec": 12}

new_date = []

In [105]:
new_date.append(old_day)

In [106]:
for month in month_dict:
    if month == old_date[1]:
        new_date.append(month_dict[month])

In [107]:
new_date

[19, 1]

In [110]:
old_year_prefix = {"1": "200", "2": "20"}

In [109]:
old_year = str(old_day)
len(old_year)

2

In [133]:
date(2009, 1,1)

datetime.date(2009, 1, 1)

In [148]:
def refine_date(mydate):
    month_dict = {"Jan": 1, "Feb": 2, "Mar": 3, "Apr": 4, "May": 5, "Jun": 6, "Jul": 7, "Aug": 8, "Sep": 9, "Oct": 10, "Nov": 11, "Dec": 12}
#     print(date)
    new_date = []
    
    old_date = mydate
    old_date = old_date.split("-")
    old_year_prefix = {1: "200", 2: "20"}
    old_year = int(old_date[0])
    old_year = str(old_year)
    for i in old_year_prefix:
        if len(old_year) == i:
            old_year = old_year_prefix[i] + old_year
    
    new_date.append(int(old_year))
    new_year = int(old_year)
    new_month = 0
    for month in month_dict:
        if month == old_date[1]:
            new_date.append(month_dict[month])
            new_month = int(month_dict[month])
            
    
    refined_date = date(new_year, new_month, 1)
    
    return refined_date

In [149]:
refine_date("09-Jan")

datetime.date(2009, 1, 1)

In [150]:
df2.head(2)

    month  python  hadoop  r  matlab
0  09-Jan     631       1  8      19
1  09-Feb     633       1  9      27

In [153]:
df2['month']

0      09-Jan
1      09-Feb
2      09-Mar
3      09-Apr
4      09-May
        ...
127    19-Aug
128    19-Sep
129    19-Oct
130    19-Nov
131    19-Dec
Name: month, Length: 132, dtype: object

In [154]:
df2['month'] = df2['month'].apply(refine_date)

<ipython-input-154-54063fb4491e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['month'] = df2['month'].apply(refine_date)

In [155]:
df2.head(3)

        month  python  hadoop  r  matlab
0  2009-01-01     631       1  8      19
1  2009-02-01     633       1  9      27
2  2009-03-01     766       1  4      24

In [156]:
df2.to_csv("timeseries_dataset.csv")